@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eff6ff;
    scroll-behavior: smooth;
}

* {
    transition: all 0.3s ease;
}